{% extends "base.html" %}

{% block content %}
<div class="modules">
    <section class="module">
        <div class="module-label">Library</div>
        <p>Albums <span class="code">{{ discs|length }}</span></p>
        <p>Memories <span class="code">—</span></p>
        <p>Mixtapes <span class="code">—</span></p>
        <p>Tags <span class="code">—</span></p>
    </section>

    {% for accession, title, artist, year, archive_date in discs %}
    <section class="module">
        <a href="/disc/{{ accession }}">
            <div class="module-label">{{ accession }}</div>
            <h2 class="big-title">{{ title }}</h2>
            <div class="meta">{{ artist }}</div>
            <div class="meta">{{ year or "unknown year" }}</div>
        </a>
    </section>
    {% endfor %}
</div>
{% endblock %}